name: Build DenOS ISO testing

on:
  workflow_dispatch:  # enables the Run workflow" button

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Docker and run DenOS build
        run: |
          docker run --rm \
            -v ${{ github.workspace }}:/denos \
            -w /denos \
            debian:bookworm bash -c "
              set -e
              apt-get update
              apt-get install -y sudo debootstrap squashfs-tools grub-pc-bin grub-efi-amd64-bin xorriso mtools isolinux live-boot systemd-sysv \
                                 network-manager net-tools wireless-tools wpagui curl openssh-server openssh-client blackbox xserver-xorg-core xserver-xorg xinit xterm \
                                 screenfetch screen lxterminal vim iputils-ping psmisc htop nmap wget git ca-certificates nano fdisk              
              bash scripts/01_denos_pre_reqs.sh
              bash scripts/02_denos_debootstrap.sh
              bash scripts/03_denos_chroot.sh
              bash scripts/04_denos_MakeSquashfs.sh
              bash scripts/05_denos_BiosUEFI_ISO.sh
            "

         - name: Debug ISO location
           run: |
            echo "Looking for ISO files..."
            find /home/runner/work/denos -type f -name "*.iso" || true

         - name: Upload ISO Artifact
           uses: actions/upload-artifact@v4
           with:
           name: denos-iso
           path: /home/runner/work/denos/
             denos/output/denos.iso 
